a
{
    text-decoration: none;
}
body
{
    background-repeat: no-repeat;    
    background-size: 100% 18%;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
    background-image: url(https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png);
}
.header
{
    display: block; 
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 15px;
}
.leftnav
{
    float: left;
    
}
.leftnav a
{
    text-decoration: none;
    color: white;
}
.rightnav
{
    float: right;
}
.rightnav a
{
    padding-right: 30px;
    text-decoration: none;
    color: white;
    
}
.rightnav a.lasttab
{
    padding-right: 0px;
}
.logocontainer
{
    align-content: center;
    width: 100%;
    padding-top: 40px;
    height: 100px;
    padding-top: 60px;
}

.flexdiv
{
    text-align: center;
}
h1
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    margin-top: 40px;
}
.searchbar
{
    padding-top: 25px;
    padding-left: 300px;
}
.midsection
{
    margin-top: 200px; 
    display: flex;
    padding-top: 50px;
    padding-left: 80px;
    padding-right: 80px;
}
.sectionpart
{

    border-radius: 20px;
    border:1px solid #e8e8e8;
    display: inline-block;
    margin-right: 20px;
}
.sectionpart img
{
   border-radius: 10px 10px 0 0;
}
.sectionpara
{
  padding-left: 10px;
  font-weight: 500;
}
.sectionpara1
{
    padding-left: 10px;
    font-weight: 400;

}
.sectionimage1
{
    background-image:url(https://b.zmtcdn.com/webFrontend/e5b8785c257af2a7f354f1addaf37e4e1647364814.jpeg?output-format=webp&fit=around|402:360&crop=402:360;*,*) ;
    height: 300px;
    background-position: left top;
    border-radius: 20px;
    border-top: none;
}
.asection
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    color: #4f4f4f;
    text-decoration: none;
    width: 33.33%;
    margin-right: 20px;
}
.about
{
    float: left;
    width: 20%;
    font-size: small;
}
h6
{
    font-weight:normal;
    font-size: small;
    margin-bottom: 10px;
    letter-spacing: 2px;;

}
.footer
{
    padding-bottom: 150px;
    margin-top: 50px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: #f8f8f8;
    height: 300px;
    
}
.footer a
{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    color:#696969;
    font-variant: normal;
}
.footer p
{
   font-size: 12px;
}

.searchinput2,.searchinput
{
    width: 400px;
    height: 50px;
    border-radius: 0px 5px 5px 0px;
    border: 0px;
    float:left;
}
.searchinput
{
    border-radius: 5px 0px 0px 5px;
}
.mobsection
{
display: flex;
width: 100%;
background-color: rgb(255, 251, 247);
padding-top: 40px;
margin-top: 40px;
color: rgb(54, 54, 54);
}
.appsection h3
{
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 20px;
}
.appsection
{
    padding-left: 50px;
    line-height: 2;
}
.downloadapp h6
{
    color:rgb(156, 156, 156)
}
.about i
{
   padding-right: 5px;
   padding-bottom: 15px;
}
#emailsub
{
    width: 250px;
    height: 40px;
    padding-left: 10px;
    border: 1.6px solid rgb(207, 207, 207);
    border-radius: 5px;
    width: 250px;
    height: 32px;
    padding-left: 10px;
    
}
.emailbutton
{
    border: 1.6px solid rgb(207, 207, 207);
    border-radius: 5px;
    width: 150px;
    height: 38px;
    padding-left: 10px;
    background: border-box rgb(239, 79, 95);
    border-color: rgb(239, 79, 95);
    color:white;
    cursor: pointer;
}
.dropsearch section
{
   
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1.6px solid rgb(207, 207, 207);
    padding:20px;
    font-size: 18px;
    cursor: pointer;
    
}
.arrow 
{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.down 
{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
